<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
		body
		{
			padding-top: 56px;
		}

		main
		{
			text-align: center;
		}

		.card
		{
			margin-left: 25%;
		}
</style>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Sign in</title>
		<!-- Bootstrap core CSS -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<main>
			<div class="card w-50 mb-5 mt-5">
				<div class="card-header">
					<h3>Sign in</h3>
				</div>
				<form method="post" th:action="@{/saveAuthor}" th:object="${user}" class="form-group card-body">
					<label for="username"><strong>Username :</strong></label>
					<input type="text" th:field="*{username}" id="userNameInput" class="form-control" name="username" placeholder="username" maxlength="20" required>
					<br>
					<br>
					<label for="emailInput"><strong>Email</strong></label>
					<input type="email" th:field="*{email}" id="emailInput" />
					<br>
					<br>
					<label for="password"><strong>Password :</strong></label>
					<input  type="password" th:field="*{password}" id="passwordInput" class="form-control" name="password" placeholder="password" maxlength="30" required>
					<br>
					<button type="submit" class="btn btn-primary">Sign in</button>
				</form>
			</div>
		</main>
	</body>
</html>